* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
}
.heading {
  background-color: crimson;
  color: white;
  padding: 2vh 2vw;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.choice-div {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  visibility: hidden;
}
.choice-div h4 {
  background-color: #ec8c9e;
  color: #ba2643;
  padding: 20px;
  border-radius: 20px;
}
.options {
  display: flex;
  justify-content: space-evenly;
  margin: 2% 4vw;
  gap: 5vw;
}

.choice {
  height: 15vw;
  border: 5px solid white;
  box-shadow: 0px 0px 10px gray;
  border-radius: 2vw;
}

.choice:hover {
  box-shadow: 0px 0px 20px gold;
  cursor: pointer;
}
.choice:active {
  box-shadow: 0px 0px 20px rgb(0, 153, 255);
  cursor: pointer;
}

.scoreboard {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin: 0px 10vw;
}

.your-score {
  border: 3px solid crimson;
  padding: 10px;
}
.computer-score {
  border: 3px solid crimson;
  padding: 10px;
}

.score-lable {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
}
.score {
  color: crimson;
  font-weight: bold;
  font-size: 4rem;
}
.com-main {
  display: flex;
  justify-content: center;
  margin: 2vw;
}
.commands {
  background-color: crimson;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 20vw;
  border-radius: 1vw;
  font-size: 2rem;
  color: white;
}

@media (max-width: 768px) {
  .heading {
    padding: 2vh 2vw;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    width: 100%;
  }

  .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5vh 4vw;
    gap: 1vw;
  }

  .choice {
    height: 40vw;
    border: 5px solid white;
    box-shadow: 0px 0px 10px gray;
    border-radius: 2vw;
  }

  .choice:hover {
    box-shadow: 0px 0px 20px gold;
    cursor: pointer;
  }
  .choice:active {
    box-shadow: 0px 0px 20px rgb(0, 153, 255);
    cursor: pointer;
  }

  .scoreboard {
    display: flex;
    gap: 2rem;
    text-align: center;
    justify-content: space-evenly;
    margin: 0px 10vw;
  }

  .your-score {
    border: 3px solid crimson;
    padding: 10px;
  }
  .computer-score {
    border: 3px solid crimson;
    padding: 10px;
  }

  .score-lable {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
  }
  .score {
    color: crimson;
    font-weight: bold;
    font-size: 4rem;
  }
  .com-main {
    display: flex;
    justify-content: center;
    margin: 2vw;
  }
  .commands {
    background-color: crimson;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 20vh;
    border-radius: 1vw;
  }
  .commands span {
    font-size: 2rem;
    color: white;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .heading {
    padding: 2vh 2vw;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    width: 100%;
  }

  .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10vh 4vw;
    gap: 1vw;
  }

  .choice {
    height: 25vw;
    border: 5px solid white;
    box-shadow: 0px 0px 10px gray;
    border-radius: 2vw;
  }

  .choice:hover {
    box-shadow: 0px 0px 20px gold;
    cursor: pointer;
  }
  .choice:active {
    box-shadow: 0px 0px 20px rgb(0, 153, 255);
    cursor: pointer;
  }

  .scoreboard {
    display: flex;
    gap: 2rem;
    text-align: center;
    justify-content: space-evenly;
    margin: 0px 10vw;
  }

  .your-score {
    border: 3px solid crimson;
    padding: 10px;
  }
  .computer-score {
    border: 3px solid crimson;
    padding: 10px;
  }

  .score-lable {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
  }
  .score {
    color: crimson;
    font-weight: bold;
    font-size: 4rem;
  }
  .com-main {
    display: flex;
    justify-content: center;
    margin: 8vw;
  }
  .commands {
    background-color: crimson;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 40vh;
    border-radius: 1vw;
  }
  .commands span {
    font-size: 2rem;
    color: white;
  }
}
